<div id="header">
    <%= link_to "Home", root_path %> |
    <%= link_to "Options", options_path %> |
    <%= link_to "Currency Exchange", currencies_path %> |
    <%= link_to "Portfolio", portfolio_path %> | 
    <%= link_to "Add Funds", add_funds_path %> |
    <%= link_to "FAQ", faq_path %>
</div>"
