
<h2> Place order </h2>
<h3> Order details: 
    <%= "BTC/USD" %> <%= "#{@instrument.strike} #{@instrument.typ.classify} Option." if @instrument.class == Option %><br>
    <% if @instrument.class == Option %>
        <%= "Expiration: #{@instrument.expiration}" %><br>
    <% end %>
    <%= "Best Bid: #{@instrument.best_bid}" %><br>
    <%= "Best Ask: #{@instrument.best_ask}" %><br>
</h3>


<div id="trade_form" class="span-12 last">
    <%= semantic_form_for @trade do |f| %>
        <%= f.inputs do %>
            <%= f.input :typ, :as => :radio, :collection => [["buy", "bid"],["sell", "ask"]], :label => "Transaction type" %>
            <%= f.input :price, :hint => "All prices are in BTC."%>
            <%= f.input :amount, :hint => get_option_hint(@instrument)%>
            <%= f.input :instrument_id, :value => @instrument.id, :as => :hidden %>
            <%= f.input :instrument, :as => :hidden, :value => @instrument.class.name %>
        <% end %>

        <div id="margin_required">
            <label> Margin Required: </label><p> Please enter amount to calculate margin. </p>
        </div>
        <%= f.buttons do %>
            <%= f.commit_button %>
        <% end %>
    <% end %>
</div>
<% if @instrument.class == Option %>
    <%= javascript_tag do %>
        $("#trade_form input[id='trade_typ_bid']").click(function(){
            $("#margin_required").hide();
            });
        $("#trade_form input[id='trade_typ_ask']").click(function(){
                $("#margin_required").show();
                domath();
            });

        $("#trade_amount").keyup(domath);

        <% if @instrument.typ == "call" %>
            function domath(){
            if ($("#trade_form input[type='radio']:checked").val() == "ask"){
            $('#margin_required p').html($("#trade_amount").val() + " USD");
            }
            }
        <% elsif @instrument.typ == "put" %>
            function domath(){
            if ($("#trade_form input[type='radio']:checked").val() == "ask"){
            $('#margin_required p').html($("#trade_amount").val()*<%= @instrument.strike %> + " BTC");
            }
            }
        <% end %>
    <% end %>
<% end %>
