
<h2> Place order </h2>
<h3> Order details: 
    <%= "BTC/USD" %> <%= "#{@instrument.strike} #{@instrument.typ.classify} Option." if @instrument.class == Option %><br>
    <% if @instrument.class == Option %>
        <%= "Expiration: #{@instrument.expiration}" %><br>
    <% end %>
    <%= "Best Bid: #{@instrument.best_bid}" %><br>
    <%= "Best Ask: #{@instrument.best_ask}" %><br>
</h3>


<div id="trade_form" class="span-12 last">
    <%= semantic_form_for @trade do |f| %>
        <%= f.inputs do %>
            <%= f.input :typ, :as => :radio, :collection => [["buy", "bid"],["sell", "ask"]], :label => "Transaction type" %>
            <%= f.input :price, :hint => "All prices are in BTC."%>
            <%= f.input :amount, :hint => get_option_hint(@instrument)%>
            <%= f.input :instrument_id, :value => @instrument.id, :as => :hidden %>
            <%= f.input :instrument, :as => :hidden, :value => @instrument.class.name %>
        <% end %>

        <% if @instrument.class == Option %>
            <div id="margin_required">
                <label> Margin Required: </label><p> Choose transaction type first. </p>
            </div>
        <% end %>
            <div id="total_amount">
                <label> </label><p>  </p>
            </div>

        <%= f.buttons do %>
            <%= f.commit_button "Execute Trade" %>
        <% end %>
    <% end %>
</div>

<% if @instrument.class == Currency %>
    <% javascript_tag do %>

        $("#trade_form input[id='trade_typ_bid']").click(function(){
            display_total("Total: ");
            $("#trade_price").keyup(function(){
                display_total("Total: ");
            });
        });

        $("#trade_form input[id='trade_typ_ask']").click(function(){
            display_total("Total received: ");
            $("#trade_amount").keyup(function(){
                display_total("Total received: ");
            });
        });

        function display_total(label){
                $("#total_amount label").html(label);
                $("#total_amount p").html($("#trade_amount").val()*$("#trade_price").val() + " BTC");
        }
    <% end %>
<% end %>

<% if @instrument.class == Option %>
    <%= javascript_tag do %>
        $("#trade_form input[id='trade_typ_bid']").click(function(){
            $("#margin_required").hide();
            display_total("Total: ");
            $("#trade_amount").keyup(function(){
                display_total("Total: ");
            });
            $("#trade_price").keyup(function(){
                display_total("Total: ");
            });
        });

        $("#trade_form input[id='trade_typ_ask']").click(function(){
            $("#margin_required").show();
            display_total("Premium recieved: ");
            $("#trade_amount").keyup(function(){
                display_total("Premium recieved: ");
            });
            $("#trade_price").keyup(function(){
                display_total("Premium recieved: ");
            });
        });

        function display_total(label){
            $("#total_amount label").html(label);
            $("#total_amount p").html($("#trade_amount").val()*$("#trade_price").val() + " BTC");
            domath();
        }


        <% if @instrument.typ == "call" %>
            function domath(){
            $('#margin_required p').html($("#trade_amount").val() + " USD");
            }
        <% elsif @instrument.typ == "put" %>
            function domath(){
            $('#margin_required p').html($("#trade_amount").val()*<%= @instrument.strike %> + " BTC");
            }
        <% end %>
    <% end %>
<% end %>
